var config = {};

config.startTime        = 5; //Starting time - military time
config.endTime          = 21; //Ending time - military time
config.includeDays      = [1,2,3,4,5]; //Days of the week to run 0=Sunday
config.counterInterval  = 60;    //Run the check every x seconds, something reasonable
config.upKeyword        = "Success";            //URL should show "Success"
config.logFilePath      = "/home/pi/";
config.urlsToCheck      = ["http://url.com/luxaforMonitor.php|My URL",
                            "http://url2.com/luxaforMonitor.php|My URL 2",
                            "http://url3.com/luxaforMonitor.php|My URL 3"];

module.exports = config;